.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 90vh;
    overflow: auto;
    background-color:#CCD6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: all 1s ease-in-out;
}
.popup form{
    width: 80%;
    position: relative;
    background-color:#CCD6F6;
    display: flex;
    flex-direction: column;
}
.popup form input{
    color: #CCD6F6;
    margin: 0.7rem 0;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
.popup form textarea{
    border: none;
    color: #CCD6F6;
    font-size: 20px;
    padding: 1rem 2rem;
    border-radius: 5px;
    resize: none;
}
.popup form .mailSendBtn{
    font-size: 18px;
    color: #64FFDA;
    width: 100%;
    margin: 2rem auto;
    padding: 0.6rem 0;
    letter-spacing: 3px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}
.popup form .mailSendBtn:hover{
    background-color: #0a192f;
    color: #0fb38c;
}
.popup .closeBtn{
    position: absolute;
    top: 15px;
    font-size: 30px;
    font-weight: 900;
    right: 15px;
    color: #333;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #CCD6F6;
}

@media (max-width:768px) {
    .popup{
        width: 100%;
    }
}

