hr{
    margin: 5rem auto;
    width: 70%;
}
.footerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
.footerWrapper h1{
    font-size: 50px;
    font-weight: normal;
    color: #CCD6F6;
}
.socialLogo{
    display: flex;
    flex-direction: column;
    color: #64FFDA;
}
.socialLogo .icons{
    width: 40px;
    height: 40px;
    margin: 2rem auto;
    cursor: pointer;
    
}
.socialLogo a{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.socialLogo a:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.5);
}
.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.copyright span{
    color: #64FFDA;
    margin-left: 1rem;
}

@media (max-width:768px) {
    .footerWrapper{
        flex-direction: column;
    }
    .footerWrapper h1{
        font-size: 34px;
        margin-bottom: 10px;
    }
    .socialLogo{
        flex-direction: row;
    }
    .socialLogo .icons{
        margin:30px;
    }
}